html {
  height: 100%;
  width: 100%;
}

body {
  background: rgb(19,34,57);
  background: radial-gradient(circle, rgba(19,34,57,1) 0%, rgba(13,14,32,1) 100%);
  font-family: "Times New Roman", Georgia, Serif;
  text-align: center;
}

h1 {
  color: #0BA545;
  text-shadow: #07723C 1px 0 10px;
  font-family: "Times New Roman", Georgia, Serif;
  text-align: center;
}

h2 {
  color: #0BA545;
  text-shadow: #07723C 1px 0 10px;
  font-family: "Times New Roman", Georgia, Serif;
  text-align: center;
}

nav {
  position: sticky;
  width: 960px;
  height: 50px;
  background: #132239;
  border-radius: 8px;
  font-size: 0;
  border-style: groove;
  border-color: white;
  border-width: 2px;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-family: "Times New Roman", Georgia, Serif;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  position: sticky;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #0BA545;
  text-shadow: #07723C 1px 0 10px;
  cursor: pointer;
}

a:nth-child(1) {
  width: 192px;
}
a:nth-child(2) {
  width: 192px;
}
a:nth-child(3) {
  width: 192px;
}
a:nth-child(4) {
  width: 192px;
}
a:nth-child(5) {
  width: 192px;
}

nav .start-home, a:nth-child(1) {
  width: 192px;
  background-color: #132239;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

nav .start-home, a:nth-child(2) {
  width: 192px;
  background-color: #132239;
}

nav .start-home, a:nth-child(3) {
  width: 192px;
  background-color: #1C3355;
}

nav .start-home, a:nth-child(4) {
  width: 192px;
  background-color: #132239;
}

nav .start-home, a:nth-child(5) {
  width: 192px;
  background-color: #132239;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;    
}
